@model RSI.Mvc.Web.ViewModel.ClienteViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header bg-warning">
            <h4 class="modal-title" style="display: inline-block;">Editar Cliente</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-white" aria-hidden="true">&times;</span>
            </button>
        </div>

        @using (Html.BeginForm("_Edit", "Cliente", FormMethod.Post, new { id = "editarClienteForm" }))
        {
            <div class="modal-body">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.DocumentoIdentidadId, "Tipo Documento", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.DropDownList("DocumentoIdentidadId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DocumentoIdentidadId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoPersonaId, "Tipo Persona", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.DropDownList("TipoPersonaId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TipoPersonaId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NumeroDocumentoIdentidad, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.NumeroDocumentoIdentidad, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="alert alert-default pull-right" style="font-weight: 300; margin: 0;"><span id="contador"></span></div>
                            @Html.ValidationMessageFor(model => model.NumeroDocumentoIdentidad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NombreORazonSocial, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.NombreORazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="alert alert-default pull-right" style="font-weight: 300; margin: 0;"><span id="contador"></span></div>
                            @Html.ValidationMessageFor(model => model.NombreORazonSocial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Apodo, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Apodo, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="alert alert-default pull-right" style="font-weight: 300; margin: 0;"><span id="contador"></span></div>
                            @Html.ValidationMessageFor(model => model.Apodo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @(Html.Kendo().DatePicker().Name("FechaNacimiento")//.Culture("es-ES")
                                                                .Min(new DateTime(1900, 1, 1)).Max(DateTime.Now)
                                                                .HtmlAttributes(new { style = "width: 100%", title = "datepicker" }))
                            @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="alert alert-default pull-right" style="font-weight: 300; margin: 0;"><span id="contador"></span></div>
                            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="alert alert-default pull-right" style="font-weight: 300; margin: 0;"><span id="contador"></span></div>
                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="alert alert-default pull-right" style="font-weight: 300; margin: 0;"><span id="contador"></span></div>
                            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.TextAreaFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="alert alert-default pull-right" style="font-weight: 300; width: 482px; margin: 0;"><span id="contador"></span></div>
                            @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer" style="background: white; margin: 0; padding: 0;">
                <br />
                <button type="button" onclick="ajaxPostEditarCliente('@Url.Action("_Edit", "Cliente")','editarClienteForm')" class="btn btn-warning" style='margin: 10px 0 20px 0'><i class='fa fa-check' aria-hidden='true'></i> Guardar</button>
                <button type="button" class="btn btn-default" style='margin: 10px 0 20px 0' data-dismiss="modal"><i class='fa fa-close' aria-hidden='true'></i> Cancelar</button>
                <br />
            </div>
        }

    </div>
</div>