@using RSI.Mvc.Web.ViewModel
@model ProveedorViewModel

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

        <div class="modal-header bg-info">
            <h4 class="modal-title" style="display: inline-block;">Detalle Proveedor</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-white" aria-hidden="true">&times;</span>
            </button>
        </div>

        <br />
        @using (Html.BeginForm())
        {
            <div class="modal-body">

                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(m => m.TipoDocumento, new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(m => m.TipoDocumento).HtmlAttributes(new { style = "width:100%", @disabled = "disabled" }).Format("{0:d}")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.TipoPersona, new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(m => m.TipoPersona).HtmlAttributes(new { style = "width:100%", @disabled = "disabled" }).Format("{0:d}")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NumeroDocumentoIdentidad, new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(m => m.NumeroDocumentoIdentidad).HtmlAttributes(new { style = "width:100%", @disabled = "disabled" }).Format("{0:d}")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NombreORazonSocial, new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(m => m.NombreORazonSocial).HtmlAttributes(new { style = "width:100%", @disabled = "disabled" }).Format("{0:d}")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Contacto, new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(m => m.Contacto).HtmlAttributes(new { style = "width:100%", @disabled = "disabled" }).Format("{0:d}")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Direccion, new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(m => m.Direccion).HtmlAttributes(new { style = "width:100%", @disabled = "disabled" }).Format("{0:d}")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Telefono, new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(m => m.Telefono).HtmlAttributes(new { style = "width:100%", @disabled = "disabled" }).Format("{0:d}")
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Correo, new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(m => m.Correo).HtmlAttributes(new { style = "width:100%", @disabled = "disabled" }).Format("{0:d}")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Observacion, new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.Kendo().TextBoxFor(m => m.Observacion).HtmlAttributes(new { style = "width:100%", @disabled = "disabled" }).Format("{0:d}")
                        </div>
                    </div>
                </div>
                <br />

                <div class="modal-footer" style="background: white; margin: 0; padding: 0;">
                    <br />
                    <button type="button" class="btn btn-default" style='margin: 10px 0 20px 0' data-dismiss="modal"><i class='fa fa-close' aria-hidden='true'></i> Cerrar</button>
                    <br />
                </div>
            </div>
        }
    </div>
</div>
