@using RSI.Mvc.Web.ViewModel
@model FacturaViewModel
<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
</style>
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

        <div class="modal-header bg-info">
            <h4 class="modal-title" style="display: inline-block;">Factura de venta</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-white" aria-hidden="true">&times;</span>
            </button>
        </div>

        <br />
        @using (Html.BeginForm())
        {
        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src="~/img/Logo.jpg" style="width:50%; max-width:100px;">
                                </td>
                                <td>
                                    Factura #: @Model.Numero <br>
                                    Fecha: @Model.Fecha.ToString("yyy-MM-dd hh:mm:ss")
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    Identificación: @Model.Cliente<br>
                                    Cliente: @Model.Cliente<br>
                                    Direccion: @Model.Cliente
                                </td>
                                <td>
                                    {ContactoAdquiriente}<br>
                                    {ApodoAdquiriente}<br>
                                    {CorreoAdquiriente}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="heading"><td>Método de Pago</td><td>	</td></tr>
                <tr class="details"> <td> Efectivo </td> <td> 100% </td> </tr>
                <tr class="heading"> <td> Item </td> <td> Price </td> </tr>
                @for (int i = 0; i < 10; i++)
                {
                    <tr class="item"> <td> xx </td> <td> 100 </td> </tr>
                }

                @*@Html(
            foreach (var det in Model.DetalleFactura)
        {

        }
        {
            @<tr class="item"> <td>  </td> <td> ${ValorItem} </td> </tr>@
                aggregates.Add(p => p.ListaUnidadNeta [i].GeneracionActivaNeta).Sum();
            }
        );*@

                <tr class="total"> <td></td> <td>  Total: @Model.ValorNeto</td> </tr>
            </table>
        </div>
        }
    </div>
</div>
